<% include partials/title %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table">
      <thead>
        <th>專案名稱</th>
        <th>權限</th>
      </thead>
      <tbody>
        <!-- 我參與的專案 -->
        <!-- 權限分為PM及Engineer -->
        <% if(manageProjects.length){ %>
          <% manageProjects.forEach(function(project){ %>
            <tr class="js-href" data-href="/project/<%=project.id%>">
              <td><%=project.name%></td>
              <td><%=(project.manager === req.session.passport.user) ? 'PM' : 'Engineer' %></td>
            </tr>
          <% }) %>
        <% } %>
        <% if(joinProjects.length){ %>
          <% joinProjects.forEach(function(project){ %>
            <tr class="js-href" data-href="/project/<%=project.id%>">
              <td><%=project.name%></td>
              <td><%=(project.manager == req.session.passport.user) ? 'PM' : 'Engineer' %></td>
            </tr>
          <% }) %>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
