<!--
var form = {
  action: 'action URL',
  method: 'GET/POST/...',
  input: {
    name:{
      title: '欄位名稱',
      type: 'text/hidden/password/...',
      value: default value,
      disabled: 'disabled',
    },
    name2:{
      title: '欄位名稱',
      type: 'text/hidden/password/...',
      value: default value,
      disabled: 'disabled',
    },
  }
}
-->

<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <form action="<%=form.action%>" method="<%=form.method%>" class="form-horizontal">
      <% for(var name in form.input) { %>
        <div class="form-group">
          <label class="col-md-4 control-label">
            <%=(!!form.input[name].title) ? form.input[name].title : ''%>
          </label>
          <div class="col-md-8">
            <input
              name="<%=name%>"
              type="<%=(!!form.input[name].type) ?
                    form.input[name].type : 'text'%>"
              class="form-control"
              value="<%=(!!form.input[name].value) ?
                    form.input[name].value : ''%>"
              placeholder="<%=(!!form.input[name].placeholder) ?
                    form.input[name].placeholder : ''%>"
              <%=(!!form.input[name].disabled) ?
                    form.input[name].disabled : ''%>
            >
            <br>
          </div>
        </div>
      <% } %>
