<div class="row">
  <% include ../project/partials/navbar %>
  <div class="col-md-8 col-md-offset-2">
    <!-- title -->
    <div class="row">
      <div class="col-md-10">
        <h4 class="inline">
          <%=issue.name%>
        </h4>
        <span class="label label-<%=labelType[issue.state]%>"><%=issue.state%></span>
        <span class="label label-<%=labelType[issue.priority]%>"><%=issue.priority%></span>
        <span class="label label-<%=labelType[issue.tag]%>"><%=issue.tag%></span>
        <br>
        <h6 class="inline">
          # <%= moment(issue.createdAt).fromNow()%>
          創建於 <%=issue.createUser.name%>
        </h6>
      </div>
      <div class="col-md-1">
        <a href="<%=`/project/${project.id}/issue/${issue.id}/edit`%>" class="btn btn-default">
          <span class="glyphicon glyphicon-edit"></span>
          編輯
        </a>
      </div>
    </div>
    <hr>

    <!-- info -->
    <div class="row">
      <div class="col-md-offset-1">
        <!-- <%-issue.info.replace(/\r\n/g, '<br/>')%>         -->
        <%var issuehtml = md(issue.info.replace(/\r\n/g, '<br/>'));%>
        <%-issuehtml%>
      </div>
    </div>
    <hr>

    <!-- assign -->
    <div class="row">
      <div class="col-md-offset-1">
        <div>
          <% if(typeof issue.assignUser != 'undefined'){ %>
            指派：<%=issue.assignUser.name%>
          <% } else{ %>
            尚未指派給任何人
          <% } %>
        </div>
      </div>
    </div>
    <hr>

    <!-- old comment -->
    <div class="row">
      <div class="col-md-12">
        <% logs.forEach(function(log){ %>
          <% if(log.type === 'comment'){ %>
            <div class="row">
              <div class="col-md-1 authShow authShow-sm">
                <div class="inline-block title">
                  <div class="image">
                    <div>
                      <%=log.createUser.name.charAt(0)%>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-11">
                <h5 class="inline"><%=log.createUser.name%></h5>
                <h6 class="inline">@ <%=moment(log.createdAt).fromNow()%> 留言</h6>
                <div>
                  <%var loghtml = md(log.content,true);%>
                  <%-loghtml%>
                  <!-- <%-log.content.replace(/\r\n/g, '<br/>')%> -->
                </div>
              </div>
            </div>
          <% }else { %>
            <div class="row">
              <div class="col-md-offset-1">
                <h6>
                  # <%=moment(log.createdAt).fromNow()%>
                  <% if(log.type === 'assign'){ %>
                    指派給 <%=log.targetUser.name%>
                  <% }else if(log.type === 'change'){ %>
                    <%=log.createUser.name%> <%=log.content%>
                  <% } %>
                  <%=(!!log.workTime) ? `花費了 ${log.workTime}小時` : ''%>
                </h6>
              </div>
              <br>
            </div>
          <% } %>
        <% }); %>

        <!-- <div class="row">
          <div class="col-md-offset-1">
            <h6># 11天前 指派給 攻城屍1號</h6>
          </div>
          <br>
        </div>

        <div class="row">
          <div class="col-md-1 authShow authShow-sm">
            <div class="inline-block title">
              <div class="image">
                <div>
                  Ｐ
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-11">
            <h5 class="inline">專案管理員</h5>
            <h6 class="inline">@ 9天前 留言</h6>
            <div>
              這真是件非常奇怪的ＢＵＧ。
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-offset-1">
            <h6># 9天前 攻城屍1號 花費了 6小時</h6>
            <h6># 9天前 指派給 攻城屍2號</h6>
          </div>
          <br>
        </div>

        <div class="row">
          <div class="col-md-offset-1">
            <h6># 5天前 攻城屍2號 花費了 3小時</h6>
            <h6># 5天前 指派給 攻城屍1號</h6>
          </div>
          <br>
        </div> -->


      </div>

    </div>

    <!-- comment -->
    <form action="<%=`/project/${project.id}/issue/${issue.id}/addComment`%>" method="POST">
      <div class="row">
        <div class="panel panel-default panel-bg-dark">
          <div class="panel-body">
            <div class="col-md-1 authShow authShow-sm">
              <div class="inline-block title">
                <div class="image">
                  <div>
                    <%=session.passport.username.charAt(0)%>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-11">
              <div class="form-group">
                <textarea name="content" cols="30" rows="5" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-success" value="留言">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
