<!-- navbar links -->
<div class="col-md-8 col-md-offset-2">
  <ul class="nav nav-tabs">
    <li class="<%=(active === 'info')?'active':''%>">
      <a href="/project/<%=project.id%>">概觀</a>
    </li>
    <li class="<%=(active === 'issueIndex')?'active':''%>">
      <a href="/project/<%=project.id%>/issue">問題清單</a>
    </li>
    <li class="<%=(active === 'issueCreate')?'active':''%>">
      <a href="/project/<%=project.id%>/issue/create">新增問題</a>
    </li>
    <% if(!!req.user && project.manager.id === req.user.id){ %>
      <li class="<%=(active === 'projectEdit')?'active':''%>">
        <a href="/project/<%=project.id%>/edit">編輯專案</a>
      </li>
      <li class="<%=(active === 'projectTransfer')?'active':''%>">
        <a href="/project/<%=project.id%>/transfer">專案轉讓</a>
      </li>
    <% } %>
    <% if(!!req.user){ %>
      <% let isMember = false; %>

      <% project.members.forEach((member)=>{ %>
        <% if(member.id === req.user.id) isMember = true;%>
        <% if(isMember) return; %>
      <% }); %>

      <% if(project.manager.id === req.user.id) isMember = true; %>

      <% if(!isMember){ %>
        <li>
          <a href="/project/apply/<%=project.id%>">加入專案</a>
        </li>
      <% } %>
    <% } %>


  </ul>
  <br>
</div>
