<!-- navbar links -->
<div class="col-md-8 col-md-offset-2">
  <ul class="nav nav-tabs">
    <li class="<%=(active === 'info')?'active':''%>">
      <a href="/project/<%=project.id%>">概觀</a>
    </li>
    <li class="<%=(active === 'issueIndex')?'active':''%>">
      <a href="/project/<%=project.id%>/issue">問題清單</a>
    </li>
    <li class="<%=(active === 'issueCreate')?'active':''%>">
      <a href="/project/<%=project.id%>/issue/create">新增問題</a>
    </li>
    <% if(!!req.user && project.manager.id === req.user.id){ %>
      <li class="<%=(active === 'projectEdit')?'active':''%>">
        <a href="/project/<%=project.id%>/edit">編輯專案</a>
      </li>
    <% } %>
  </ul>
  <br>
</div>
